<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Jeffrey Gallegos",  "https://github.com/JeffreyGallegosCoding", class: "text-white"%>,</small>
  </div>
</footer>